#body-text::-webkit-scrollbar {
    width: 2px;
    height: 10px;
}

* {
    margin: 0
}


#fun-list::-webkit-scrollbar {
    display: none; /* 隐藏滚动条 */
}


::-webkit-scrollbar-track {
    background-color: #e4e4e4;
}

::-webkit-scrollbar-thumb {
    background-color: #8070d4;
}

#text-wrap {
    display: flex;
    flex-direction: row;
    height: 400px;
}

#body-text {
    background-color: rgb(240,248,255);
    overflow: auto;
    white-space: pre-wrap;
    flex: 1;
    word-break: break-all;
    padding: 5px;
    border-radius: 7px 0 7px 7px;
    border: 2px solid rgba(3, 102, 214, 0.3);
}

#fun-list {
    display: flex;
    gap: 4px;
    flex-direction: column;
    user-select: none;
    overflow: scroll;
}

#fun-list .fun-list-item {
    position: relative;
    background-color: #B0E0E6;
    height: 40px;
    width: 50px;
    transition: transform .3s ease-in;
    cursor: pointer;
    border-radius: 0 20px 20px 0;
}

#fun-list .fun-list-item:active {
    top: 2px;
}

#fun-list .fun-icon {
    margin-top: 2px;
    height: 36px;
    width: 36px;
    margin-left: 2px;
    transition: all 1s;
}







#fun-list .fun-list-item:hover .fun-icon {
    transform: rotateY(1turn);
}

#fun-list span {
    flex: 1;
}

#fun-list .fun-list-item.selected {
    /*background: linear-gradient(-45deg, #dae, #f66, #3c9, #09f, #66f);*/
    background-image: linear-gradient(-45deg, #87E9A4, #ADC5FF, #00FFFF, #ADFF2F);
    background-size: 200% 200%;
    animation: gradient 3s ease-in-out infinite;
}

@keyframes gradient {
    0% {
        background-position: 0 12%;
    }

    50% {
        background-position: 100% 100%;
    }

    100% {
        background-position: 0 12%;
    }
}


body {
    font-family: 'JetBrainsMono';
}

@font-face {
    font-family: 'JetBrainsMono';
    src: url('../assets/fonts/JetBrainsMono-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'JetBrainsMono';
    src: url('../assets/fonts/JetBrainsMono-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'JetBrainsMono';
    src: url('../assets/fonts/JetBrainsMono-BoldItalic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'JetBrainsMono';
    src: url('../assets/fonts/JetBrainsMono-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
}

/* 根据需要添加其他重量和样式 */